/**
 * Logo Component Styles
 */

.logo {
  display: inline-block;
  text-align: center;
}

.logo__image {
  display: block;
  height: auto;
}

/* Size variants */
.logo--small .logo__image {
  height: 24px;
  width: auto;
}

.logo--medium .logo__image {
  height: 32px;
  width: auto;
}

.logo--large .logo__image {
  height: 40px;
  width: auto;
}

.logo--full .logo__image {
  height: 96px; /* Adjusted actual image */
  width: auto;
}
